# Exclude the build directory
build/*

# Exclude temp nibs and swap files
*~.nib
*.swp

# Exclude OS X Folder attributes
.DS_Store

# Exclude user-specific XCode files
*.model
*.model1v3
*.model2v3
*.perspective
*.perspective3
*.pbxuser
*.xcworkspace
xcuserdata
*.xcuserstate
